body
{
    background-color:#0e0209; width: 100%; height: 100%; overflow: hidden;
}

/* CCT ADDED BEGIN latest launchpad design */
#page /*  ID */
{
    width: 100%; height: 100%; color:#FFFFFF; 
}

.wrapper /* CLASS */
{
    width: 100%; height: 100%; 
}

.banner 
{
    background: url(../images/egames-logo.png) no-repeat center; overflow: hidden;
    width : 100%;
    top: 0;
    height: 38px;
    margin: 0 auto;
    margin-top: 40px;
}

a:hover img{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.games-logo-container 
{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.footer-logos 
{
    width: 100%;
    height: 76px;
    background: url(../images/footer-logos.png) no-repeat, url(../images/footer-bg.png) no-repeat; 
    background-position: center, left;
    bottom: 0px; 
    position: fixed;
 }

.sysversion 
{
    width: 100%;    
    height: 10px;
    bottom: 10px;    
    position: fixed;
    color : yellow !important;
}

.clearer{clear:both;}

.link-container a, .link-container a:link, .link-container a:visited 
{
    display:block;
}

.link-container img 
{
    width:100%; height:100%; border:0;
}

.link-container a:hover img 
{
    visibility:hidden;
}

/* .money{text-align: right} */
#fancybox-overlay{overflow: hidden;}
/* body{overflow: hidden} */
.bolder{font-weight: bolder}

/* CCT added for system version on the bottom */
#system-version{color:#EEEEEE; font-family: Arial;font-size: 14px; text-align: center; font-style: italic;}
