   
   #moveCenter{
	    display: inline-block;
   }

    ul.menu {

            list-style-type: none;
        }

        ul.menu li {

	    display: inline;
	    margin: -2px;
            font-size: 16px;
            font-family: "Trebuchet MS", Arial, sans-serif;

        }

        ul.menu li a {

            height: 48px;

            width : 193px;

            display: inline-block;

            padding-left: 60px; /* To sift text off the background-image */

            color: #3E789F;

            background: url("../images/menu-sprite.jpg") no-repeat; /* As all link share the same background-image */

        }

        ul.menu li.popular-games a {

            background-position: 0 750;

        }

        ul.menu li.new-games a {

            background-position: -250px 0px;

        }

        ul.menu li.featured-games a {

            background-position: -500px 0px;

        }


	/*HOVER*/
		
        ul.menu li.popular-games a:hover {

            background-position: 0 -48px;

        }

        ul.menu li.new-games a:hover {

            background-position: -250px -96px;

        }

        ul.menu li.featured-games a:hover {

            background-position: -500px -144px;

        }
		
	/*Active*/
		
        ul.menu li.popular-games a.active {

            background-position: 0 -48px;

        }

        ul.menu li.new-games a.active {

            background-position: -250px -96px;

        }

        ul.menu li.featured-games a.active {

            background-position: -500px -144px;

        }
