/* .lightboxButton{width: 100px; height: 30px} */

body
{
   /* margin: 0 auto; */ 
   /* position: relative; */
    background-color:#0e0209; width: 100%; height: 100%; overflow: hidden;
}
/* #page{width: 914px; color:#FFFFFF; margin: 90px auto 0; background: url(../images/lobby_background.jpg) top no-repeat; height: 444px;} */

/* CCT ADDED latest launchpad design */
#page /*  ID */
{
    /* margin: 0 auto; width: 1024px; height: 768px;  color:#FFFFFF; 
    background:url(../images/lp-bg.jpg); background-repeat: no-repeat; */
    width: 100%; height: 100%; color:#FFFFFF; 
    margin: 0 auto;
}

.wrapper /* CLASS */
{
    width: 100%; height: 100%; 
    margin: 0 auto;
    position: relative;
}

.banner 
{
    /* width: 1024px; height: 90px; */
    /*float: center;*/    
    width: 100%; height: 90px;      
    background: url(../images/banner-ad.gif); background-repeat: no-repeat;
    position: absolute; 
    top: 0;
    margin-left: 22.5%;
    margin-right: 22.5%;  
    /* margin: 0 auto;*/
}

.games-logo-container 
{
    /* padding: 150px 0px 0px 120px;*/
    /* position: fixed; */
    width: 100%;    
    /* margin: 0 auto; */
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 22.5%;    
    position: absolute; 
}

.footer-logos 
{
    width: 100%;
    height: 80px;
    background: url(../images/footer-logos.png) no-repeat; overflow: hidden; 
    bottom: 15px; 
    /*margin: 0 auto;*/
    margin-left: 22.5%;
    margin-right: 22.5%;    
    position: absolute; 
 }

.sysversion /* CCT added for system version on the bottom */
{
    width: 100%;    
    height: 20px;
    bottom: 10px;    
    margin: 0 auto;    
    position: absolute;    
}
/* CCT ADDED latest launchpad design */

/* #egames-logo-container{height: 45px; width: 159px; margin-left: 375px; margin-top: 4px;} */
/* #casinogames-wrapper{margin-top: 36px; height: 124px;} */

a:hover img{border:1px solid #000000;background: url(../images/magic-macau-hover.png) no-repeat;}
a img{border:1px solid #480F00;}
.clearer{clear:both;}
/* #footer-wrapper{width: 914px; color:#FFFFFF; font-family: Arial;font-size: 11px; margin: 8px auto 0; text-align: center;} */
/* #logos{float:right;} */
/* #form-details{margin-top: 150px; color:#450122; margin-left: 285px; font-size: 14px;} */
/* .form-element{height: 18px; border:1px solid #450122; background-color: #fff; color: #000;}  */

.link-container a, .link-container a:link, .link-container a:visited 
{
    display:block;
}

.link-container img 
{
    width:40%; height:40%; border:0;
}

.link-container a:hover img 
{
    visibility:hidden;
}

/* .money{text-align: right} */
#fancybox-overlay{overflow: hidden;}
/* body{overflow: hidden} */
.bolder{font-weight: bolder}

/* CCT added for system version on the bottom */
#system-version{color:#EEEEEE; font-family: Arial;font-size: 14px; text-align: center; font-style: italic;}