/* Tiny Carousel */



#slider { height: 1%; overflow:hidden; padding: 0 0 10%; }
#slider .viewport { float: left; width: 500px; height: 400px; overflow: hidden; position: relative; }
#slider .viewmore{margin-top: 0; margin-right: 60px;}
#slider .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 150px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider .next { background-position: 0 0; margin: 150px 0 0 10px;  }
#slider .disable { visibility: hidden; }

#slider .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 640px; left: 0; top: 0; }
#slider .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 345px; border: 1px solid #dcdcdc; width: 640px;}
#slider .overview img {width: 640px; height: 345px;}

#slider .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#slider .pager li { float: left; }
#slider .pagenum { background-color: #fff; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }
#slider .active { color: #fff; background-color:  #555555; }

#slider .viewmore{  
    float: right;
    width: 100px;
}
#carousel {
    height: 1%;
    overflow:hidden;
    padding: 0 0 5px;  

}
#carousel .viewport
{

    float: left;
    width: 500px;
    height: 150px;
    overflow: hidden;
    position: relative;
    /*background-color: red;*/
    margin-left: 50px;
    
 margin-bottom: 150px;
   
}
#carousel .buttons
{
    background:url("../images/buttons.png") no-repeat scroll 0 0 transparent;
    display: block;
    margin-right: -150px;
    margin-left:10px;
    margin-top: 50px;
    background-position: 0 -38px;
    text-indent: -999em;
    float: left;
    width: 39px;
    height: 37px;
    overflow: hidden;
    position: relative;
}
#carousel .next
{
    background-position: 0 0;
    margin: 50px 0 0 10px; 
}
#carousel .disable
{
    visibility: hidden;
}
#carousel .overview
{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 200px;
    left: 0;
    top: 0;
}
#carousel .overview li
{
    float: left;
    margin: 0 7px 0 0;
    padding: 0px;
    height: 130px;
    border: 1px solid #dcdcdc;
    width: 160px;

}

#carousel .overview img
{
    margin-top: 5px; 
    height: 100px;
    width: 150px;
}


#carousel .overview p
{
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    margin-top: 1px;
    color: black;
    text-align: center;
    padding-bottom: 30px;
}
#rewardinfo{
    margin: 0 auto;
}
#picture{
    float: left;

}

#picture img 
{
    width: 200px;
    height: 150px;
    background-color: red;
}


#Info
{
    /*background-color: yellow;*/
    margin-left: 250px;
    margin-top: 15px;
}
#Info p
{
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 16px;
    color: #333;  
}

#Details
{
    margin-left:270px;  
}

