/* 
    Document   : styles
    Created on : Apr 8, 2013, 5:48:57 PM
    Author     : USER
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body, table
{
    font: 10pt Arial;
}

.registrationtable td
{
    padding: 3px 3px 3px 3px;
}

.registrationtable
{
    width: 95%;
}

.registrationtable label
{
    display: inline;
    margin-bottom: 0px;
    vertical-align: middle;
/*    line-height: inherit;
    vertical-align: middle;*/
}

.pagesubtitle
{
    font-size: 12pt;
    font-weight: bold;
}

#rightcol{
    
    background-color: #eee;
    width: 200px;
    height: 330px;
    padding: 50px 0 0 40px;
/*  position:absolute;
float: right; 
    right: 0;
    top: 0;
    */
}
