/* Tiny Carousel */



#slider { height: 1%; overflow:hidden; padding: 0 0 10%; }

#slider .viewport { float: left; width: 600px; height: 350px; overflow: hidden; position: relative; background-color: #000000; padding: 10px; -moz-border-radius: 15px; border-radius: 15px;}
#slider .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 150px -40px 0 0; background-position: 0 -38px; z-index: 100; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider .next { background-position: 0 0; margin: 150px 0 0 -40px;  }
#slider .disable { visibility: hidden; }

#slider .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 600px; left: 0; top: 0; }
#slider .overview li{ float: left; margin: 0 20px 0 0; padding: 10px; height: 350px; width: 600px;}

#slider .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#slider .pager li { float: left; }
#slider .pagenum { background-color: #fff; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }
#slider .active { color: #fff; background-color:  #555555; }

#slider .yellow-btn{  
    margin-top: 10px;
}

#carousel {
    height: 1%;
    overflow:hidden;
    padding: 0 0 10%;  
}

#carousel .viewport
{
    float: left;
    width: 600px;
    height: 135px;
    overflow: hidden;
    position: relative;
    margin: -100px 0 0 0;
    background-color: #000000; 
    padding: 10px; 
    -moz-border-radius: 15px; 
    border-radius: 15px;
}
#carousel .buttons
{
    background:url("../images/buttons.png") no-repeat scroll 0 0 transparent;
    display: block;
/*    margin-left:10px;
    margin-top: 50px;*/
    margin: 80px 0 0 -10px;
    background-position: 0 -38px;
    text-indent: -999em;
    float: left;
    width: 39px;
    height: 37px;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}
#carousel .next
{
    background-position: 0 0;
    margin: -100px 0 0 600px; 
}
#carousel .disable
{
    visibility: hidden;
}
#carousel .overview
{
    list-style: none;
    position: absolute;
    /*padding: 10px;*/
    margin: 0;
    width: 600px;
    left: 0;
    top: 0;
}
#carousel .overview li
{
    float: left;
    /*margin: 0 7px 0 0;*/
    padding: 1px;
    padding-top: 20px;
    height: 150px;
    /*border: 1px solid #dcdcdc;*/
    width: 160px;

}

#carousel .overview img
{
    margin-top: 5px; 
    height: 100px;
    width: 160px;
}


#carousel .overview p
{
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    margin-top: 1px;
    color: black;
    text-align: center;
    padding-bottom: 30px;
}


#rewardinfo{
    margin: 0 auto;
}
#picture{
    float: left;
    margin-left: 30px;
}
#picture li {

    font-size: 40px;
    color: #999;
    text-align: center;
    display: block;
    width: 300px;
    height: 228px;
    padding: 0;
    margin: 6px;
    float: left;
    position: relative;  
}
#picture img
{
    width: 200px;
    height: 150px;
}

#Info
{
    /*background-color: yellow;*/
    margin-left: 250px;
    margin-top: 15px;
}
#Info p
{
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 16px;
    color: #333;  
}

#rewardsinfo .Details
{
    margin-left:270px;  
}

#moreitems
{
    /*border: 1px solid #FF0000;*/
    width: 620px;
}


